@import "src/style-variables/color-variables";
@import "src/style-variables/anim-variables";

.setupForm {
  width: 100%;

  &_inputFile {
    display: none;
  }

  &_wrapperBtn {
    display: inline-flex;
    gap: 16px;
    width: 100%;
  }

  &_buttonSign {
    flex: 1;
  }
}
