@import "../../../../style-variables/font-variables";
@import "../../../../style-variables/color-variables";
@import "../../../../style-variables/anim-variables";

.authForm {
  width: 100%;

  &_forgot {
    color: $color-primary;
    font-size: $text-size-md;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 16px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &_linkRedirect {
    color: $color-main-text;
    font-size: $text-size-sm;
    margin-bottom: 16px;
    font-weight: 400;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &_buttonSign {
    width: 100%;
  }

  &_separatorWrap {
    display: inline-block;
    position: relative;
    width: 100%;

    margin: 16px 0;
    height: 24px;

    &::before {
      content: "";

      height: 1px;
      width: 100%;
      background-color: $color-main-text;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &_separator {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: inline-flex;
    height: 24px;
    width: 40px;
    background-color: $color-main-body;

    justify-content: center;
    align-items: center;

    font-size: $text-size-sm;
    font-weight: 400;
  }

  &_buttonGoogle {
    width: 100%;

    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    font-size: $text-size-sm;
    font-weight: 600;

    transition-property: background-color, border-color;
    transition-duration: $anim-duration;
    transition-timing-function: $anim-func;

    &:hover,
    &:focus {
      border-radius: 10px;
      border-color: rgba(25, 25, 25, 0.2);
      background: rgba(225, 225, 225, 0.2);
    }

    &:active {
      border-radius: 10px;
      border: 1px solid rgba(25, 25, 25, 0.5);
      background: rgba(225, 225, 225, 0.5);
    }

    > svg {
      width: 18px;
      height: 18px;
    }
  }
}
