@import "src/style-variables/color-variables";

.authLayout {
  &_inner {
    display: flex;
    height: 100vh;
    min-height: 670px;
    padding: 35px 0;

    @media screen and (max-width: 1023px) {
      min-height: 600px;
    }
  }

  &_wrapperChild {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_wrapperDecor {
    width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1279px) {
      width: 500px;
    }
    @media screen and (max-width: 1023px) {
      width: 300px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &_decor {
    width: calc(100% - 100px);
    height: 100%;
    max-height: 680px;
    min-height: 620px;

    background-color: $color-primary;
    border-radius: 8px;
    margin-left: auto;

    display: flex;
    align-items: center;

    @media screen and (max-width: 1279px) {
      width: calc(100% - 70px);
    }
    @media screen and (max-width: 1023px) {
      width: calc(100% - 40px);
      max-height: 380px;
      min-height: 320px;
    }
  }

  &_decorImg {
    border-radius: 8px;
    transform: translateX(-100px);

    @media screen and (max-width: 1279px) {
      transform: translateX(-70px);
    }
    @media screen and (max-width: 1023px) {
      transform: translateX(-40px);
    }
  }
}
