@import "src/style-variables/font-variables";

.currentItem {
  display: inline-flex;
  align-items: center;

  gap: 8px;

  > svg {
    width: 32px;
    height: 32px;
  }

  &_name {
    font-size: $text-size-sm;
    font-weight: 500;
    line-height: 1.4;
    color: inherit;
  }
}
