@import "src/style-variables/color-variables";
@import "src/style-variables/form-mixins";

.adminBuild {
  flex: 1;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);

  box-shadow: 22.97px 22.97px 33.98px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(25px);

  padding: 20px;

  @media screen and (max-width: 767px) {
    margin: 0 -15px;
    width: 100%;
  }

  &_line {
    height: 1px;
    width: 100%;
    display: block;
    margin: 30px 0;
    background-color: $color-second;
  }

  &_wrapBtn {
    display: flex;
    gap: 15px;

    margin-top: 30px;
  }

  &_cancelBtn {
    @include button-second;
  }

  &_applyBtn {
    @include button-main;
  }
}
