@import "src/style-variables/slider-image-mixins";

.swiper-button-prev,
.swiper-button-next {
  @include swiper-btn-common;
}

.swiper-button-prev {
  @include swiper-btn-prev;
}
.swiper-button-next {
  @include swiper-btn-next;
}

.collectionForm {
  &_form {
    width: 100%;
  }

  &_wrapperBtn {
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    width: 100%;
  }

  &_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 15px;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }

  &_wrapperSlider {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
  }

  &_boxBg {
    @include swiper-box-bg;
  }

  &_slide {
    @include swiper-slide;
  }

  &_img {
    @include swiper-image;
  }

  &_check {
    @include swiper-check;
  }

  &_cross {
    @include swiper-cross;
  }

  &_create {
    @include swiper-create;

    @media screen and (max-width: 767px) {
      height: 120px;
    }

    @media screen and (min-width: 768px) {
      margin-top: 200px;
      height: 120px;
      width: 100%;
    }
  }
}
