@import "src/style-variables/font-variables";
@import "src/style-variables/color-variables";
@import "src/style-variables/cards-mixins";
@import "src/components/styles/icon-three-dots.module";

.itemDashb {
  @include color-bg-item;
  border-radius: 8px;
  position: relative;
  cursor: pointer;

  &::before {
    @include cardRotate;
  }

  &:hover {
    &::before {
      rotate: -4deg;
    }
  }

  &_btnOption {
    @include wrapper-icon-dots;

    position: absolute;
    right: 15px;
    top: 15px;

    > svg {
      width: 12px;
      height: 12px;
    }
  }

  &_buttonIco {
    @include three-dots;
  }

  &_title {
    font-size: $text-size-lg;
    font-weight: 700;
    line-height: 1.55;
  }

  &_wrapCount {
    display: flex;
    gap: 20px;
    padding: 12px 0;
  }

  &_count {
    font-size: $text-size-sm;
    font-weight: 500;
    line-height: 1.3;
  }

  &_wrapImage {
    width: 100%;
    height: 240px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }

  &_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
