@import "src/style-variables/color-variables";
@import "src/style-variables/font-variables";

.collectionList {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  @media screen and (max-width: 1279px) {
    margin: 0 -10px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }

  &_item {
    margin: 20px;
    width: calc(100% / 3 - 40px);
    padding-top: 20px;
    border-radius: 8px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include color-bg-item;

    @media screen and (max-width: 1279px) {
      margin: 10px;
      width: calc(100% / 3 - 20px);
    }
    @media screen and (max-width: 1024px) {
      width: calc(100% / 2 - 20px);
    }
    @media screen and (max-width: 767px) {
      width: calc(100% / 1 - 20px);
    }
  }

  &_name {
    margin: 0 16px;
    font-size: $text-size-lg;
    font-weight: 700;
    line-height: 1.5;
  }

  &_wrapperImg {
    width: 100%;
  }

  &_img {
  }
}
