/*----- Color -----*/

$color-main-text: #191919;
$color-main-body: #e1e1e1;

$color-primary: #0f5863;
$color-second: #cab891;

@mixin color-bg-item {
  background: linear-gradient(
    131deg,
    #fff 0%,
    rgba(217, 217, 217, 0) 100%,
    rgba(217, 217, 217, 0.2) 100%
  );
  box-shadow: 22.97px 22.97px 33.98px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(25px);
}
