/*----- Color -----*/

$color-main-text: #191919;
$color-main-opacity: rgba(25, 25, 25, 0.5);
$color-main-body: rgba(225, 225, 225, 1);

$color-primary: #0f5863;
$color-second: #cab891;
$color-attention: #a9270b;

$color-light: #ffffff;

$color-to-review: #f40a5e;
$color-in-progress: #219653;
$color-approved: #214296;
$color-rejected: #a9270b;
$color-pending: #ff9900;

@mixin color-bg-item {
  background: linear-gradient(
    131deg,
    #fff 0%,
    rgba(217, 217, 217, 0) 100%,
    rgba(217, 217, 217, 0.2) 100%
  );
  box-shadow: 22.97px 22.97px 33.98px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(25px);
}
