@import "src/style-variables/font-variables";

@mixin input-edit {
  font-size: $text-size-md;
  font-weight: 500;
  line-height: 1.4;
  padding: 6px;

  outline: transparent;
  background-color: transparent;
  border: none;

  //&:disabled {
  //}
  //
  //&:hover,
  //&:focus {
  //}
  //
  //&:active {
  //}
}
