@import "src/style-variables/font-variables";
@import "src/style-variables/color-variables";
@import "src/style-variables/anim-variables";

.ctrlItem {
  &_list {
    display: grid;
    gap: 8px;
  }

  &_item {
  }

  &_btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: $text-size-md;
    font-weight: 400;
    line-height: 1.6;

    transition: color $anim-duration $anim-func;

    > svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
