@import "src/style-variables/font-variables";
@import "src/style-variables/color-variables";
@import "src/style-variables/form-mixins";

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &_wrapperTitle {
  }

  &_title {
    font-size: $text-size-xl;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    margin-bottom: 5px;

    @media screen and (max-width: 1023px) {
      font-size: 28px;
    }
  }

  &_text {
    font-size: $text-size-lg;
    font-weight: 400;
    color: $color-primary;
    line-height: 1.5;

    @media screen and (max-width: 1023px) {
      font-size: $text-size-md;
    }
  }

  &_btn {
    @include button-main;

    @media screen and (max-width: 767px) {
      margin-top: 10px;
    }
  }
}
