@import "src/style-variables/color-variables";
@import "src/style-variables/form-mixins";
@import "src/style-variables/font-variables";
@import "src/style-variables/anim-variables";

.header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1023px) {
    height: 70px;
  }

  @media screen and (max-width: 767px) {
    position: sticky;
    top: 0;
    left: 0;
    background-color: $color-main-body;
    z-index: 90;
  }

  &_inner {
    display: flex;
    justify-content: flex-end;

    position: relative;
  }

  &_wrapperLogo {
    display: flex;
    align-items: center;
    margin-right: auto;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &_logo {
    height: 40px;
    width: auto;
  }

  &_wrapperBurger {
    display: flex;
    align-items: center;

    margin-right: auto;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &_burgerBtn {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    position: relative;
  }

  &_burgerIcon {
    position: absolute;
    display: block;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 16px;
    height: 1px;
    background-color: $color-main-text;

    transition: transform $anim-duration $anim-func;

    &:after,
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 16px;
      height: 1px;
      background-color: $color-main-text;
      left: 50%;
      transform: translateX(-50%);
    }

    &:after {
      top: -6px;
    }

    &:before {
      bottom: -6px;
    }
  }

  &_burgerBtn.active &_burgerIcon {
    transform: translate(-50%, -50%) rotate(45deg);

    &:before {
      opacity: 0;
    }

    &:after {
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &_wrapperMenu {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      position: absolute;
      top: 250px;
      left: 0;

      opacity: 0;
      visibility: hidden;

      z-index: 105;
      transition-property: opacity, top, visibility;
      transition-duration: 200ms;
      transition-timing-function: linear;

      justify-content: center;
      align-items: flex-start;
    }

    &.active {
      @media screen and (max-width: 767px) {
        top: 60px;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &_wrapperMenu.active {
  }

  &_menuList {
    display: flex;
    align-items: center;
    gap: 32px;

    font-size: $text-size-md;
    font-weight: 500;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;

      padding: 18px 18px 22px 18px;
      border-radius: 8px;

      background: rgba(255, 255, 255, 0.6);
      box-shadow: 22.97px 22.97px 33.98px 0 rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(25px);
    }
  }

  &_menuItem {
    &.pc {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &.mobile {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &_pageLink {
    display: flex;
    align-items: center;
    color: $color-main-opacity;

    transition: color $anim-duration $anim-func;

    > svg {
      margin-right: 2px;
      width: 24px;
      height: 24px;
    }

    &:hover,
    &:focus {
      color: $color-main-text;
    }

    &:active {
      color: $color-primary;
    }
  }

  &_createLink {
    @include button-main;
  }

  &_wrapperProfile {
    display: flex;
    align-items: center;
    color: $color-main-text;

    cursor: pointer;

    > svg {
      margin-left: 5px;
      width: 16px;
      height: 16px;

      transition: rotate $anim-duration $anim-func;
    }

    &.isShow {
      > svg {
        rotate: 180deg;
      }
    }
  }
}
