@import "src/style-variables/color-variables";

.collection {
  padding-top: 50px;
  margin-bottom: 40px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;
    padding-top: 30px;
  }

  &_inner {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-second;
  }
}
