@import "src/style-variables/font-variables";
@import "src/style-variables/color-variables";
@import "src/style-variables/anim-variables";

.adminSidebar {
  width: 250px;

  @media screen and (max-width: 1279px) {
    width: 200px;
  }

  @media screen and (max-width: 1023px) {
    display: none;
  }

  &_title {
    font-size: $text-size-md;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 12px;

    @media screen and (max-width: 1279px) {
      font-size: $text-size-sm;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 12px;
  }

  &_item {
  }

  &_link {
    line-height: 1.6;
    font-size: $text-size-md;
    font-weight: 500;
    color: rgba(25, 25, 25, 0.5);

    transition: color $anim-duration $anim-func;

    &:hover {
      color: $color-main-text;
    }

    @media screen and (max-width: 1279px) {
      font-size: $text-size-sm;
    }
  }
}
